doctype html
html
  head
    title 未使用アイテム
  style.
    .models-container {
      display: flex;
      flex-wrap: wrap;
    }

    .model-container {
      margin: 12px;
      padding: 12px;
    }

    .unused-items-container {
      display: flex;
      flex-wrap: wrap;
    }
    .unused-item-container {
      text-align: center;
    }
    .unused-item-container img {
      width: 200px;
    }
  body
    h3 模型
    div.models-container
      - for (const model of models)
        div.model-container
          a(href="3d.html?fbx=models/unused-weapons/" + `${model}/${model}.fbx` alt= model target="_blank")= model

    h3 Icon
    div.unused-items-container
      - for (const icon of itemIcons)
        div.unused-item-container
          p= icon.id
          img(src="img/icon_s/Texture2D/" + icon.src alt="")