doctype html
html
  head
    title Degree
  body
    div
      table
        thead
          tr
            th DF
            th 名前
            th 詳細
        tbody
          - for (const d of degree.List)
            tr
              td= d.DF
              td= d.NAME
              td= d.DESC
