doctype html
html
  head
    title Index
    script(src="./js/index.js")
    style.
      .indexs-container {
        display: flex;
        flex-direction: column;
      }
      .index-row-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
      }
      .index-container {
        width: 200px;
        height: 200px;
        border: 1px solid gray;
        text-align: center;
        overflow: hidden;
      }
      .index-img {
        width: 100px;
      }
  body
    div
      p Game Version 3.12.0
      p Updated 2020-06-09
    hr
    div.indexs-container
      - for (const row of _.chunk(pages, 4))
        div.index-row-container
          -for (const page of row)
            div.index-container
              a(href= page.href)
                p= page.title
                - if (page.img && page.img.src)
                  img.index-img(src= page.img.src alt=page.img.alt)
    hr
    div
      h3 ブレイズアーツ (BA)
      ul
        li LV 1 - 100 EXP
        li LV 2 - 400 EXP
        li LV 3 - 1200 EXP
        li LV 4 - 3600 EXP
        li LV 5 - 0 EXP
    hr
    div

      h3 ステータスの公式
      div
        p floor(((M - B)/R) * level + B)
        p R = 目標レベル值
        p M = R レベルのステータス最大值
        p B = ステータス初始值
        p level = アイテムのレベル

      h4 計算
      label
        span R
        input(id="R" placeholder="R" type="number" min="0" value="60")
      label
        span M
        input(id="M" placeholder="M" type="number" min="0" value="40")
      label
        span B
        input(id="B" placeholder="B" type="number" min="0" value="6")
      label
        span level
        input(id="Level" placeholder="Level" type="number" min="0" value="80")
      label
        span= '='
        input(id="Result" value="0")

      h4 Example
      div
        p 闇夜の盾
        p LV 1 物理攻撃 SATK 6
        p LV 60 物理攻撃 SATK	40
        p R = 60, M = 40, B = 6, 欲しいレベル = 80
        p ((40 - 6)/60) * 80 + 6 = 51.3333333333
        p floor(51.3333333333) = 51
        p LV 80 物理攻撃 SATK	= 51