doctype html
html
  head
    title アトリエオンライン資料庫
    style.
      .indexes-container {
        display: flex;
        flex-direction: column;
      }
      .index-row-container {
        display: flex;
        flex-wrap: wrap;
      }
      .index-container {
        width: 200px;
        height: 200px;
        text-align: center;
        overflow: hidden;
        text-align: center;
      }
      .index-container img {
        width: 100px;
      }
  body
    div
      p Game Version 3.12.0
      p Updated 2020-09-08
    hr
    div.indexes-container
      - for (const row of _.chunk(pages, 5))
        div.index-row-container
          - for (const page of row)
            div.index-container
              a(href= page.href target="_blank")
                p= page.title
                - if (page.img && page.img.src)
                  img(src= page.img.src alt= page.title)