doctype html
html
  head
    title Index
  body
    div
      a(href="./item.html")
        p アイテム / 裝備 / 料理
      a(href="./skill.html")
        p Skill / 效果
      a(href="./chara.html")
        p キャラクター
      a(href="./effect.html")
        p 異常状態
      a(href="./enemy.html")
        p 敵
      a(href="./degree.html")
        p 称号
      a(href="./quest.html")
        p クェスト
    div
      h3 Blaze art
      ul
        li LV 1 -> 100 EXP
        li LV 2 -> 400 EXP
        li LV 3 -> 1200 EXP
        li LV 4 -> 3600 EXP
        li LV 5 -> 0 EXP
    div
      h3 ステータスの公式
      div
        p floor ((m - b)/r) * level + b
        p R = レベル值
        p M = R レベルのステータス最大值
        p B = ステータス初始值
        p level = アイテムのレベル
