* {
  padding: 0;
  margin: 0;
}





/* item picker dialog */
.item-picker-items {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin-top: 36px;
}
.item-picker-items > div {
  width: 140px;
  cursor: pointer;
}
.item-picker-items > div > p {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.item-picker-remove-item {
  padding-top: 12px;
}

/* support item dialog */
.support-item-picker {
  display: flex;
  align-items: center;
}

.support-item-editor-items {
  display: flex;
  flex-wrap: wrap;
  margin-top: 36px;
}
.support-item-editor-items > div {
  align-items: center;
  text-align: center;
  margin: 24px;
}


/* character editor */

.character-edit-dialog {
  display: flex;
}

.character-picker {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
}
.character-picker > div {
  border: 1px solid rgba(0,0,0,0);
}
.character-picker img {
  width: 140px;
  cursor: pointer;
}
.character-state {
  width: 30%
}
.character-state h3 {
  text-align: center;
}
.character-image {
  width: 100%;
}

.selected-character {
  border: 1px solid green !important;
}

.popover {
  z-index: 20001;
}

.character-state-popover {
  width: 100%;
}

.character-state-popover td {
  white-space: nowrap;
}

.character-skill-popover-detail {
  width: 400px;
}

/* equipment */
.equipment-icon {
  cursor: pointer;
}

.equipment-popover, .character-state-popover, .character-skill-popover {
  border: 2px solid green;
  color: black;
  background: white;
  height: auto;
  padding: 4px;
}

.equipment-popover > h3 {
  text-align: center;
}

.skill-addon-select {
  width: 240px;
}

/* control buttons */
.control-buttons {
  display: flex;
  flex-wrap: wrap;
}

/* support equipment */
.sub-equipment, .result {
  width: 425px;
  min-height: 425px;
  padding: 12px;
}
.sub-equipment img {
  width: 72px;
}
.sub-equipment-items {
  display: flex;
  flex-wrap: wrap;
}
.sub-equipment-items > div {
  margin: 6px;
}






.container {
  display: flex;
}




.main-equipment, .sub-equipment, .result{
  padding: 48px;
}


.main-equipment, .sub-equipment {
  background: rgb(224, 195, 151);
}



.main-equipment {
  display: flex;
}
.main-equipment p {
  text-align: center;
}

.main-equipment img {
  width: 120px;
}

.left-equipment > div, .right-equipment > div {
  text-align: center;
  width: 150px;
  height: 150px;
}

.right-equipment {
  margin-top: 80px;
}


th {
  text-align: left;
  white-space: nowrap;
}
th, td {
  padding: 4px;
}



.character {
  height: 300px;
}

.character > h4 {
  text-align: center
}

.character img {
  width: 240px;
}


