* {
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  padding: 12px;
}

.result {
  border: 1px solid gray
}



.sub-equipment, .result, .result {
  width: 425px;
  min-height: 425px;
  padding: 12px;
}





.item-picker-container {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}
.item-picker-container > div {
  width: 140px;
  padding: 12px;
  cursor: pointer;
  border: 1px solid gray;
}


.main-equipment, .sub-equipment {
  background: rgb(224, 195, 151);
}



.main-equipment {
  display: flex;
  padding: 20px;
}
.main-equipment p {
  text-align: center;
}

.main-equipment img {
  width: 120px;
}
.sub-equipment img {
  width: 60px
}

.left-equipment > div, .right-equipment > div {
  text-align: center;
  width: 150px;
  height: 150px;
}

.right-equipment {
  margin-top: 80px;
}

.item-popover {
  border: 2px solid green;
  width: 200px;
  color: black;
  background: white;
  height: auto;
  padding: 4px;
}

th {
  text-align: left;
  white-space: nowrap;
}
th, td {
  padding: 4px;
}


.character-picker {
  padding-bottom: 12px;
}


.sub-equipment-items img {
  cursor: pointer;
}




.character {
  height: 300px;
}

.character img {
  width: 240px;
}




