.filters
  display: flex
  flex-wrap: wrap
  align-items: center
.filter
  display: flex
  flex-wrap: wrap
  align-items: center
  white-space: nowrap
  margin: 12px
  > span
    padding-right: 4px
  > .el-input
    width: auto
