.item-container
  display: flex
  padding: 12px

.item-container-left
  min-width: 200px
  max-width: 200px
  padding: 12px

.item-container-right
  padding: 12px
  width: 100%

.item-name
  text-align: center
