.popover
  z-index: 20001

.popover-base
  border: 2px solid green
  color: black
  background: white
  height: auto
  padding: 4px

.popover-base
  width: 100%

.popover-base td
  white-space: nowrap

.popover-base__detail
  width: 400px

.dark-mode .popover-base
  background: #313846
  color: #eee

.popover-container
  width: 100%

.popover-container__detail
  max-width: 300px

.popover__card
  color: black !important
.dark-mode .popover__card
  color: #eee !important

.poppover__a
  color: inherit !important
.poppover__a:hover
  opacity: .5

.dark-mode .poppover__a
  color: inherit !important
.dark-mode .poppover__a:hover
  opacity: .5
