.popover__detail
  max-width: 300px
  word-break: break-word

.poppover__a
  color: inherit !important
.poppover__a:hover
  opacity: .5

.dark-mode .poppover__a
  color: inherit !important
.dark-mode .poppover__a:hover
  opacity: .5
