.popover
  z-index: 20001

.popover-base
  border: 2px solid green
  color: black
  background: white
  height: auto
  padding: 4px

.popover-base
  width: 100%

.popover-base td
  white-space: nowrap

.popover-base__detail
  width: 400px

.dark-mode .popover-base
  background: #313846
  color: #eee